*{
    box-sizing: border-box;  
}
body{
    background-color: rgb(252, 252, 252);
}
header{
    text-align: center;
    color:chocolate;
   font-size: 53px;
   margin-bottom: 50px;
   font-family:monospace;
}
#c1,#c2,#c3{
    background-color:lightgrey;
    border: 0px solid slateblue;
    margin: auto;
    height: 100px;
    border-radius: 10px;
    text-align: justify;
    
}
#c1{margin-right: 5px; margin-bottom: 6px;}
#c2{margin-right: 5px;margin-bottom: 6px;}

.n1,.n2,.n3{
position: absolute ;
text-align: justify;
padding-left: 10px;
color: white;
border-radius: 5px;
padding-bottom:5px;
margin: auto;
font-style: oblique;


}
.n1{
    background-color:rgb(228, 151, 228);
}
.n2{
    background-color: tomato;
}
.n3{
    background-color: palevioletred;
}
.row{
    width:100%;
    }
p{  
    color: black;
    text-align: justify; 
    margin: 20px; 
    padding: 10px; 
    font-size: large;
}
@media (min-width:992px){ 

    .xl { 
        width: 33%; 
        float: left;
              }  
              .fornav{
                width:15%;
              float: left;
              padding-right: 80px;             
          }

}
@media (min-width:768px) and (max-width:991px){
    .de { 
        width: 33%; 
        float: left;
              } 

              .m{
                width: 100%; 
                float: left;
              }
              .fornav{
                  width:20%;
                float: left;               
                padding-right: 80px;
            }
            
}
@media(max-width:767px){
    .sx{
        width: 100%; 
        float: left;
      }
      .fornav{
        float: left;
    }
    .fornav{
        width:27%;
      float: left;  
      padding-right: 80px;
  }
}